<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ATRAPP"
        tools:targetApi="31">
        <activity
            android:name=".ui.nav.tracking.TrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.YourCardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.AddCardActivity"
            android:exported="false"
            android:label="@string/title_activity_add_fawry"
            android:theme="@style/Theme.ATRAPP" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.FawryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.reviews.AddReviewActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.reviews.ReviewActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.details.returnOrder.OrderReturnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.details.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.history.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.categories.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.CheckoutActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.product.productDetails.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.HomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.nav.home.product.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PasswordResetSuccessfullyActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgetPassword.changePassword.NewPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgetPassword.checkOtp.OTPActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgetPassword.sendOtp.ForgetPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.waiting.WaitingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signUp.map.SignUpMapsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signUp.pdf.SignUpPdfActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signUp.info.SignUpInfoActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.auth.onBoarding.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.onBoarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.nav.cart.addresses.AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.addresses.AddNewAddressActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
    </application>

</manifest>