<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AtrApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:localeConfig="@xml/locales_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ATRAPP"
        tools:targetApi="33">
        <activity
            android:name=".ui.auth.customer_code.login.LoginWithCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.customer_code.code.CustomerInvoiceCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.customer_code.otp.OTPCustomerCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.product.productDetails.BestSellerDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.ATRAPP" />
        <activity
            android:name=".ui.nav.home.product.BestSellerActivity"
            android:exported="false"
            android:theme="@style/Theme.ATRAPP" />
        <activity
            android:name=".ui.nav.home.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.YourCardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.AddCardActivity"
            android:exported="false"
            android:label="@string/title_activity_add_fawry"
            android:theme="@style/Theme.ATRAPP" />
        <activity
            android:name=".ui.nav.cart.checkout.paymentMethod.OrderNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.reviews.AddReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.nav.home.reviews.ReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.nav.profile.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.details.returnOrder.OrderReturnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.details.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.order.history.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.profile.AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.home.categories.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.checkout.CheckoutActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.nav.home.product.productDetails.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.HomeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.nav.home.product.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PasswordResetSuccessfullyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.forgetPassword.changePassword.NewPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.forgetPassword.checkOtp.OTPActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.forgetPassword.sendOtp.ForgetPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.waiting.WaitingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signUp.map.SignUpMapsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.signUp.pdf.SignUpPdfActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.signUp.info.SignUpInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.onBoarding.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.onBoarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.nav.cart.addresses.AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nav.cart.addresses.AddNewAddressActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".shared.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

    </application>

</manifest>